root = true

[*]
indent_style = space
indent_size = 2
tab_width = 2
ij_continuation_indent_size = 2
end_of_line = lf
max_line_length = off
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
ij_visual_guides = none